extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Full Stack JavaScript Portfolio
 
      p.lead.text-light
        | This portfolio consist of projects that showcase my skills in Full Stack JavaScript devlopment. 
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each val in projects
        .cell
          a(href=`/project/${val.id}`)
            img.thumbnail(src=val.image_urls[0])
            h5= val.project_name
      
